.jumbotron {
    height: 346px;
    background-image: url("../img/pizza.png");
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner {
    display: flex;
    width: 100%;
    background: rgba(255,255,255,50%);
    justify-content: center;
}

.container-pizza {

    margin: 0 3em;
}
.tab-content {
    display: flex;
    box-sizing: border-box;
    margin: 0;
}
.tab-pane {
    display: flex;
    width: 100%;
}
.card {
    display: flex;
    margin: 1em;
}
.card-header {
    display: flex;
}
.card-footer {
    display: flex;
    justify-content: right;
}

.container-fluid {
    display: inline-block;
    justify-content: left;
    padding: 0;
}






