.jumbotron {
    height: 346px;
    background-image: url("../img/pizza.png");
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner {
    display: flex;
    width: 100%;
    background: rgba(255,255,255,50%);
    justify-content: center;
}

.container-pizza {

    margin: 0 3em;
}
.tab-content {
    display: flex;
    box-sizing: border-box;
    margin: 0;
}
.tab-pane {
    display: flex;
    width: 100%;
}
.card {
    display: flex;
    margin: 1em;
}
.card-header {
    display: flex;
}
.card-footer {
    display: flex;
    justify-content: right;
}

.container-fluid {
    display: flex;
    justify-content: left;
    padding: 0;
    height: 50px;
}

.pizza-world-link {
    font-size: 24px;
}

.order-online-link {
    font-size: 18px;
}

.menu-link {
    font-size: 18px;
}

.navbar-brand {
    display: flex;
    justify-content: left;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: left;
}
.d-flex {
    color: cornflowerblue;
    height: 50px;
}
.btn-outline-success {
    color: cornflowerblue;
    width: 350px;
    border-color: cornflowerblue;
}